<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">  
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <title>Simple Auction Database System</title>
  </head>

  <body>

    <% include ./nav %>

    <main role="main" class="container">

      <div class="main">
        <h1>Simple Auction Database System</h1>
        <p class="lead">Welcome to SAD system.<br>We provide you a free auction market.<br><b>Let's Deal</b></p>
        <% if(name){ %>
        <img src="./img/sad.png"/ style="width:300px">
        <% } else { %>
        <img src="./img/happy.png"/ style="width:300px">
        <% } %>
      </div>

    </main>
  </body>
</html>
