<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">  
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/starter-template.css" rel="stylesheet">
    <title>Simple Auction Database System</title>
  </head>

  <body>

    <% include ./nav %>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Simple Auction Database System</h1>
        <p class="lead">Welcome to SAD system.<br>We provide you a free auction market.<br><b>Let's Deal</b></p>
        <div class="text-center"><a href="./signin">Sign in</a></div>
        <img src="./img/happy.png"/ style="width:300px">
      </div>

    </main>
	<% include ./footer %>
  </body>
</html>
