<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/upload.css" rel="stylesheet">
  <title>Upload</title>
</head>

<body>

  <% include ./nav %>

  <main role="main" class="container">
    <h3 class="mb-5">MyPage</h3>
    <form class="form-upload">
      <div class="form-group row">
        <h5 class="col-2">Name</h5>
        <div class="col-10">Sangwoo</div>
      </div>
      <div class="form-group row">
        <h5 class="col-2">Phone</h5>
        <div class="col-10">010-7539-4833</div>
      </div>
    </form>
    <label>My Product <span class="badge badge-secondary">2</span></label>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 50%">Product Name</th>
          <th scope="col" style="width: 10%">Price</th>
          <th scope="col" style="width: 10%">Max Price</th>
          <th scope="col" style="width: 10%">Sold?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
    <label>My Request <span class="badge badge-secondary">1</span></label>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 50%">Product Name</th>
          <th scope="col" style="width: 10%">Seller</th>
          <th scope="col" style="width: 10%">Price</th>
          <th scope="col" style="width: 10%">Sold?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </tbody>
  </main>
</body>
<% include ./footer %>
</html>
