<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/upload.css" rel="stylesheet">
  <title>Upload</title>
</head>

<body>

  <% include ./nav %>

  <main role="main" class="container">
    <h3 class="mb-5">MyPage</h3>
    <form class="form-upload">
      <div class="form-group row">
        <h5 class="col-2">Name</h5>
        <div id="myname" class="col-10"></div>
      </div>
      <div class="form-group row">
        <h5 class="col-2">Phone</h5>
        <div id="myphone" class="col-10"></div>
      </div>
    </form>
    <label>My Product <span id="productNum" class="badge badge-secondary"></span></label>
    <table id="myproduct" class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 50%">Product Name</th>
          <th scope="col" style="width: 10%">Price</th>
          <th scope="col" style="width: 10%">Max Price</th>
          <th scope="col" style="width: 10%">Sold?</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <label>My Request <span id="requestNum" class="badge badge-secondary"></span></label>
    <table id="myrequest" class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 50%">Product Name</th>
          <th scope="col" style="width: 10%">Seller</th>
          <th scope="col" style="width: 10%">Price</th>
          <th scope="col" style="width: 10%">Sold?</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </main>
  <% include ./footer %>
  <script src="js/mypage.js"></script>
</body>
</html>
