<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/product_info.css" rel="stylesheet">
  <title>Product Info</title>
</head>

<body>

  <% include ./nav %>

  <main role="main" class="container">
    <div class="product-metadata">
      <h1 class="title text-capitalize">
        <span id="product-title"></span>
        <span class="badge badge-primary" id="badge-sale">On Sale</span>
        <span class="badge badge-success" id="badge-sold">Sold</span>
      </h1>
      <p class="description" id="product-description"></p>
      <p class="extra-info mb-1">
        <span class="font-weight-bold">Owner</span>:
        <span id="owner-name"></span>
      </p>
      <p class="extra-info mb-1">
        <span class="font-weight-bold">Contact</span>:
        <span id="owner-phone-num"></span>
      </p>
      <p class="extra-info mb-1">
        <span class="font-weight-bold">Initial Price</span>:
        <span id="desc-init-price"></span>
      </p>
      <p class="extra-info mb-1 d-none" id="extra-info">
        <span class="font-weight-bold" id="extra-info-name">Name</span>:
        <span id="extra-info-value">Value</span>
      </p>
    </div>
    <label>User requests for this product</label>

    <!-- Buy Request Modal -->
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="requestModalLabel">Buy Request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="priceInput">Price</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="won">₩</span>
                  </div>
                  <input type="number" value="10000" min="0" class="form-control"step="10000" id="maxPriceInput" aria-describedby="won">
                </div>
              </div>  
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="send_req">Send Request</button>
          </div>
        </div>
      </div>
    </div>
    
    <table id="requests" class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width:5%">#</th>
          <th scope="col" style="width:15%">User</th>
          <th scope="col" style="width:25%">Contact</th>
          <th scope="col" style="width:10%">Price</th>
          <th scope="col" style="width:30%">Time</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="bd-request d-none" id="div-btn-buy">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#requestModal">Buy Request</button>
    </div>
    <div class="bd-choose d-none" id="div-btn-confirm">
      <button type="button" class="btn btn-success" id="confirm_req" data->Confirm Request</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to trade with &lt;User: 
            <span class="font-weight-bold" id="confirm-user">aaa</span>&gt;?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="btn-confirm">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include ./footer %>
  <script src="js/product_info.js"></script>
</body>
</html>