<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/product.css" rel="stylesheet">
    <title>Product</title>
  </head>

  <body>

    <% include ./nav %>

    <main role="main" class="container">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 50%">Product Name</th>
            <th scope="col" style="width: 20%">Seller</th>
            <th scope="col" style="width: 10%">Price</th>
            <th scope="col" style="width: 10%">Max Price</th>
            <th scope="col" style="width: 10%">Sold</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </main>
	<% include ./footer %>
  </body>
</html>
