<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/product_info.css" rel="stylesheet">
  <title>Product Info</title>
</head>

<body>

  <% include ./nav %>

  <main role="main" class="container">
    <div class="product-metadata">
      <h1 class="title" id="product_attr0">Laptop</h1>
      <p class="description" id="product_attr1">Laptop is very good.</p>
    </div>
    <label>User requests for this product</label>
    <div class="bd-request">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#requestModal">Buy Request</button>

      <!-- Buy Request Modal -->
      <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="requestModalLabel">Buy Request</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="priceInput">Price</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="won">₩</span>
                    </div>
                    <input type="number" value="10000" min="0" class="form-control"step="10000" id="maxPriceInput" aria-describedby="won">
                  </div>
                </div>  
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="send_req">Send Request</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table id="requests" class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width:5%">#</th>
          <th scope="col" style="width:40%">User</th>
          <th scope="col" style="width:15%">Price</th>
          <th scope="col" style="width:30%">Time</th>
        </tr>
      </thead>
      <tbody>


      </tbody>
    </table>
    <div class="bd-choose">
      <button type="submit" class="btn btn-success">Confirm Request</button>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
  <script src="js/product_info.js"></script>

</body>
<% include ./footer %>
</html>
