<html>
<head>
  <title>Sign In</title>
  <meta charset="utf-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/starter-template.css" rel="stylesheet">
</head>
<body>
  <% include ./nav %>

  <div class="container">
    <form class="text-center form-signin">
      <h1 class="mb-4">Sign in</h1>
      <input type="email" class="form-control" id="emailInput" placeholder="Enter email" required autofocus>
      <input type="password" class="form-control" id="passwordInput" placeholder="Password" required>
      <button type="submit" class="btn btn-lg btn-primary btn-block mt-2">Sign in</button>
      <div class="join"> Wanna join us? <a href="./signup" class="link-sign-up"> Sign up </a></div>  
    </form>
  </div>

  <% include ./footer %>
</body>
</html>