.container {
	padding-top: 80px;
}

.form-upload {
	width:50%;
}

.bd-submit {
	position: relative;
	float: right;
}

.extra-input1 {
	width: 25%;
}

.input-group-text {
	text-align: left;
}
